In [151]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [152]:
data = pd.read_csv("data.csv")

In [153]:
data.head()

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
0,1st,A++,Zee TV,82757,18752951,20869786591
1,2nd,A++,T-Series,12661,61196302,47548839843
2,3rd,A++,Cocomelon - Nursery Rhymes,373,19238251,9793305082
3,4th,A++,SET India,27323,31180559,22675948293
4,5th,A++,WWE,36756,32852346,26273668433

In [154]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
Rank             5000 non-null object
Grade            5000 non-null object
Channel name     5000 non-null object
Video Uploads    5000 non-null object
Subscribers      5000 non-null object
Video views      5000 non-null int64
dtypes: int64(1), object(5)
memory usage: 234.5+ KB

In [155]:
datatemp = pd.read_csv("data.csv")

In [156]:
#a = list(map(int,datatemp["Video Uploads"].values))
#ValueError: invalid literal for int() with base 10: '--'

some rows contain '--' in in Video Uploads column

In [157]:
#identifing those columns with '--' from data set
def find(a):
    if a=='--':
        return 0;
    else:
        return a

In [158]:
ab = list(map(find,datatemp["Video Uploads"].values))

In [159]:
datatemp["Video Uploads"]=pd.Series(ab)

In [160]:
datatemp.head()

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
0,1st,A++,Zee TV,82757,18752951,20869786591
1,2nd,A++,T-Series,12661,61196302,47548839843
2,3rd,A++,Cocomelon - Nursery Rhymes,373,19238251,9793305082
3,4th,A++,SET India,27323,31180559,22675948293
4,5th,A++,WWE,36756,32852346,26273668433

In [161]:
data[data["Video Uploads"]!=datatemp["Video Uploads"]]

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
267,268th,,MidnightXChannel,--,--,190256974
517,518th,,Dusama Pets TV,--,--,91601494
2323,"2,324th",,Random,--,12275,17897584
3072,"3,073rd",,Boram Tube Toy Shcool [보람튜브…,--,726527,205555289
3247,"3,248th",,atheer sultan,--,--,79663674
4898,"4,899th",,ExzoticSlice,--,99785,9745292

In [162]:
videonulls=list(datatemp[data["Video Uploads"]!=datatemp["Video Uploads"]].index)

In [163]:
videonulls

[267, 517, 2323, 3072, 3247, 4898]

In [164]:
ab=list(map(find,datatemp["Subscribers"].values))

In [165]:
#ab = list(map(int,ab))
'''
ValueError                                Traceback (most recent call last)
<ipython-input-46-61de6addd71f> in <module>
----> 1 ab = list(map(int,ab))

ValueError: invalid literal for int() with base 10: '-- '
'''

"\nValueError                                Traceback (most recent call last)\n<ipython-input-46-61de6addd71f> in <module>\n----> 1 ab = list(map(int,ab))\n\nValueError: invalid literal for int() with base 10: '-- '\n"

In [166]:
#'-- '
sym='-- '

In [167]:
def find(a):
    if a==sym:
        return 0
    else:
        return a

In [168]:
ab = list(map(find,ab))

In [169]:
datatemp["Subscribers"]=pd.Series(ab)

In [170]:
data[datatemp["Subscribers"]!=data["Subscribers"]].head()

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
17,18th,A+,Vlad and Nikita,53,--,1428274554
108,109th,A,BIGFUN,373,--,941376171
115,116th,A,Bee Kids Games - Children TV,740,--,414535723
142,143rd,A,ChiChi TV Siêu Nhân,421,--,2600394871
143,144th,A,MusicTalentNow,1487,--,3252752212

In [171]:
subnull = list(data[datatemp["Subscribers"]!=data["Subscribers"]].index)

In [172]:
subnull[:10]

[17, 108, 115, 142, 143, 152, 156, 175, 180, 189]

In [173]:
len(subnull)

387

In [174]:
type(datatemp["Video views"].values[1])

numpy.int64

In [175]:
datatemp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
Rank             5000 non-null object
Grade            5000 non-null object
Channel name     5000 non-null object
Video Uploads    5000 non-null object
Subscribers      5000 non-null object
Video views      5000 non-null int64
dtypes: int64(1), object(5)
memory usage: 234.5+ KB

In [176]:
pd.DataFrame(np.arange(100).reshape(25,4)).drop(0).head()

    0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19
5  20  21  22  23

In [177]:
for i in videonulls:
    datatemp.drop(i,inplace=True)

In [178]:
for i in subnull:
    try:
        datatemp.drop(i,inplace=True)
    except:
        continue

In [179]:
datatemp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4610 entries, 0 to 4999
Data columns (total 6 columns):
Rank             4610 non-null object
Grade            4610 non-null object
Channel name     4610 non-null object
Video Uploads    4610 non-null object
Subscribers      4610 non-null object
Video views      4610 non-null int64
dtypes: int64(1), object(5)
memory usage: 252.1+ KB

In [180]:
list1  = list(map(int,datatemp["Video Uploads"].values))

In [181]:
type(list1[:10][1])

int

In [182]:
list1[:10]

[82757, 12661, 373, 27323, 36756, 30243, 8500, 100147, 1140, 74607]

In [183]:
datatemp["Video Uploads"]= pd.Series(list1)

In [184]:
datatemp["Subscribers"]=pd.Series(list(map(int,datatemp["Subscribers"].values)))

In [185]:
datatemp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4610 entries, 0 to 4999
Data columns (total 6 columns):
Rank             4610 non-null object
Grade            4610 non-null object
Channel name     4610 non-null object
Video Uploads    4253 non-null float64
Subscribers      4253 non-null float64
Video views      4610 non-null int64
dtypes: float64(2), int64(1), object(3)
memory usage: 252.1+ KB